/* GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/* VARIABLES CSS*/
:root{
   --header-height:5rem;
   /* Colours*/
   --first-color:#36802d ;
   --first-color-dark:#77ab59 ;
   --first-color-darker: #c9df8a;
   --white-color: #f0f7da;

  /* Typography and font*/
   --body-font: 'Montserrat',sans-serif;
   --big-font-size:2.5rem;
   --normal-font-size:.938rem;
   
   /* z index*/
   --z-fixed:100;
}

@media screen and(min-width:768px){
  :root{
        --big-font-size:5rem;
        --small-font-size:1rem;
    }
}
/*  BASE  */
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin:var(--header-height) 0 0 0;
    padding:0;
    font-family: var(--body-font);
    font-weight:500;
    font-size:var(--normal-font-size);
}

h1,p,ul{
    margin:0;
}

ul{
    padding:0;
    list-style:none;
}

a{
    text-decoration: none;
}

img{
    max-width:100%;
    height: auto;
}

/* LAYOUT */
.bd-grid{
    max-width:1024px;
    display: table-header-group;
    grid-template-columns:100%;
    column-gap:2rem;
    width:100%;
    margin-left: 1rem;
    margin-right:1rem;
}

.l-header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
    background-color: var(--first-color);
}

/* NAVIGATION*/
.nav{
    height:var(--header-height) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px){
    .nav_menu{
        position:fixed;
        top:0;
        right:-100%;
        width:70%;
        height:100%;
        padding:3.5rem, 1.5rem,0;
        background: rgba(66,70,50);
        backdrop-filter:blur(10px);
        transition: .5s;
    }
}

.nav_close{
    position: absolute;
    top: .75rem;
    right: 1 rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav_item{
    margin-bottom: 2rem;
}
.nav_close, .nav_link, .nav_toggle, .nav_logo{
    color: var(--white-color);
}

.nav__link:hover{
    color:var(--first-color-dark);
}

.nav_toggle{
    font-size:1.5rem;
    cursor:pointer;
}

/*  Show Menu  */
.show{
    right:0;
}

/*  Home  */
.home{
    
   background-color: var(--first-color-darker);
    
    overflow: hidden;
    height: 100%;
}

.home_container{
    height:(100vh - var(--header-height));
    grid-template-rows:repeat(2,max-content);
    row-gap:1.5rem;
}
.home_img{
   
    padding-top:1.5rem;
    justify-self:center;
    width:220px;
    height:220px;
}

.home_img img{
    position:absolute; 
    top:0;
    right:0;
}

.l-main{
    height: 100%;
}

.home_data{
    color:var(--white-color);
}

.home_title{
    font-size:var(--big-font-size);
    line-height:1.3rem;
    margin-bottom:1rem;
    margin-top: 1 rem;
    margin-right: 1 rem;
}

.home_desrciption{
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    margin-right: 1rem;
}

.home_button{
    display:inline-block;
    background-color:var(--first-color-dark);
    color:var(--white-color);
    padding:1.125rem 2rem;
    border-radius:.5rem;
}

.home_button:hover{
background-color: var(--first-color-darken);
}



/*  Media Queries*/
@media screen and (min-width:768px){
    body{
        margin:0;
    }

    .nav{
        height:calc(var(--header-height) + 1.5 rem);
    }

    .nav_toggle,.nav_close{
        display:none;
    }

    .nav_list{
        display:flex;
    }

    .nav_item{
        margin-left:3rem;
        margin-bottom:0;
    }

    .home_container{
        height:100vh;
        grid-template-columns:repeat(2,max-content);
        grid-template-rows:1fr;
        row-gap:0;
        align-items: center;
        justify-content: center;
    }

    .home_img{
        order:1;
        width:375px;
        height:289px;
    }

    .home_img img{
        width:375px;
    }

}


@media screen and (min-width: 1024px){

    .bd_grid{
        margin-left:auto;
        margin-right: auto;
    }

    .home_container{
        justify-content:center;
        column-gap: 4.5rem;
    }

    .home_img{
    width:604px;
    height:466px;
    }

    .home_img img{
        width:604px;
    }
}